body {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px;
}

.nav-container a {
  color: #c4c4c8;
  text-decoration: none;
  font-size: 8px;
  margin-left: 25px;
}

.nav-container a:hover {
  color: white;
}

.nav-container li {
  list-style: none;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.title-nav a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.second-nav a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 8px;
  color: rgb(92, 91, 91);
}

.second-nav a:hover {
  color: #0071e3;
}

.second-nav a:first-child {
  color: rgb(170, 169, 169);
  cursor: default;
}

.second-nav a:last-child {
  border-radius: 20px;
  font-weight: 300;
  padding: 2px 5px;
  background: #0071e3;
  color: white;
}

.second-nav a:last-child:hover {
  background-color: #097df0;
}

.cover-title {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid rgb(164, 162, 162);
}

.cover-title h1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-top: 80px;
}

.second-buy {
  display: flex;
  justify-content: center;
}

.second-buy a {
  text-decoration: none;
  font-weight: 300;
  font-size: 10px;
  color: white;
  background: #0071e3;
  padding: 10px 20px;
  border-radius: 40px;
  margin: 30px;
}

.cover {
  display: flex;
  justify-content: center;
}

.cover-img {
  width: 85%;
}

.text {
  display: flex;
  justify-content: center;
}

.text p {
  text-align: center;
  font-weight: 400;
  line-height: 1.381;
  font-size: 15px;
}

.accessories {
  display: flex;
  justify-content: center;
}

.accessories img {
  width: 320px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.icon-apps {
  display: flex;
  justify-content: center;
}

.icon-apps p {
  font-size: 8px;
  text-align: center;
  margin: 0;
}

.icon {
  width: 35px;
  height: 35px;
}

.both {
  margin-left: 30px;
}

.last-text {
  display: flex;
  justify-content: center;
}

.last-text p {
  margin-top: 70px;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
}

.last-text a {
  color: #0071e3;
}

.end {
  display: flex;
  justify-content: center;
}

.end a {
  color: #0071e3;
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 50px;
}

@media all and (max-width: 425px) {
  .nav-container {
    flex-wrap: wrap;
  }

  .second-container {
    flex-direction: column;
  }

  .second-nav {
    flex-direction: column;
  }

  .icon-apps {
    flex-wrap: wrap;
  }
}
