body {
  margin: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.nav-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 14px;
}

.nav-container a {
  color: #c4c4c8;
  text-decoration: none;
  font-size: 13px;
  margin-left: 52px;
}

.nav-container a:hover {
  color: white;
}

.nav-container li {
  list-style: none;
}

.phone-menu {
  color: white;
  display: none;
}

.fa-bars,
.fa-apple,
.fa-bag-shopping {
  font-size: 19px;
}

.nav-responsive {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex: 1;
}

.subtitle a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
}

.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #d6d6d6;
}

.quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.quick-links a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 13px;
  color: rgb(67, 67, 67);
}

.quick-links a.buy {
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  color: white;
  background: #0071e3;
  padding: 6px 14px;
  border-radius: 40px;
}

.cards-intro-title {
  display: flex;
  justify-content: center;
}

.cards-intro-title h1 {
  font-size: 65px;
  line-height: 1.0625;
  font-weight: 500;
  margin: 0;
  margin-top: 130px;
}

.cards-intro-btn {
  display: flex;
  justify-content: center;
}

.cards-intro-btn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: white;
  background: #0071e3;
  padding: 20px 35px;
  border-radius: 40px;
  margin: 30px;
}

.cards-intro-gift {
  display: flex;
  justify-content: center;
}

.cards-intro-img {
  width: 85%;
}

.cards-intro-txt {
  display: flex;
  justify-content: center;
}

.cards-intro-txt p {
  text-align: center;
  font-weight: 400;
  line-height: 1.381;
  font-size: 21px;
}

.accessories-img {
  display: flex;
  justify-content: center;
}

.accessories-img img {
  width: 465px;
  margin-top: 70px;
  margin-bottom: 63px;
}

.apple-products {
  display: flex;
  justify-content: center;
}

.apple-products p {
  font-size: 8px;
  text-align: center;
  margin: 0;
}

.product-app {
  width: 51px;
  height: 51px;
}

.product {
  margin-left: 40px;
}

.product:first-child {
  margin: 0;
}

.gift-cards-text {
  display: flex;
  justify-content: center;
}

.gift-cards-text p {
  margin-top: 70px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 1.42859;
  letter-spacing: -0.016em;
}

.gift-cards-text a {
  color: #0071e3;
}

.gift-cards-learn-more {
  display: flex;
  justify-content: center;
}

.gift-cards-learn-more a {
  color: #0071e3;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 50px;
}

@media all and (max-width: 1024px) {
  .phone-menu {
    display: block;
  }

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .subtitle {
    padding: 10px 10px 5px 10px;
  }

  .apple-products {
    flex-wrap: wrap;
    margin: 0%;
    padding: 5px;
  }

  .gift-cards-text {
    padding: 0px 40px;
  }

  .nav-responsive {
    display: none;
  }
}
